 <nav class="space-x-6">
            <a href="{% url 'home' %}" class="text-gray-700 font-semibold hover:text-orange-500">Home</a>
            <a href="{% url 'food' %}" class="text-gray-700 font-semibold hover:text-orange-500">Food</a>
            <a href="{% url 'about' %}" class="text-gray-700 font-semibold hover:text-orange-500">About</a>
            <a href="{% url 'help' %}" class="text-gray-700 font-semibold hover:text-orange-500">Help</a>
            <a href="{% url 'home' %}" class="text-gray-700 font-semibold hover:text-orange-500">Back</a>
            <form action="{% url 'search' %}" method="get" class="flex search-form">
</form>
</nav>