<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <div>
        <h2>Activate Your Account</h2>
<p>Thank you for registering.</p>
<p>Click the link below to activate your account:</p>
<a href="{{ activation_url }}">{{ activation_url }}</a>

        </p>
        <p>If you did't register with us, you can safely ignore this email</p>
        <hr>
        <div>
            <span>Follow us on:</span>
            <div>
                <a href="#">Instagram</a>
                <a href="#">Linkedin</a>
                <a href="#">Youtube</a>
            </div>
            </div>
            <p>If you have any issues activating your account, please contact us at:</p>
            <a href="mailto:contact@gmail.com"></a></p>
    </div>
</body>
</html>